@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 46, 142, 215;
  --background-end-rgb: 12, 81, 173;
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(
      circle at bottom,
      rgb(var(--background-end-rgb)) 10%, /* Azul en el centro ocupando el 40% */
      rgb(var(--background-start-rgb)) 100% /* Negro en los bordes */
    );
  min-height: 100vh;
  margin: 0;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
